html,body {
    margin: 0;
    padding: 0;
}

.thumbnails {
    display: flex;
    max-width: 560px;
    margin: 50px auto;
    flex-wrap: wrap;
    border-radius: 5px;
}

a {
    display: block;
}
.thumbnail {
    width: 180px;
    border-radius: 5px;
    margin: 3px;
}

img {
    display: block;
}